section form input,
section form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

section form button {
    color: #00579e;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
}

section form button:hover {
    color: #FC853B;
}

/* reset */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: #283747;
    background: #ffffff;
    font-size: 1rem;
    width: 10rem;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    color: #ffffff;
    background: #00579e;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background: #FC853B;
}